img {
    width: 100px;
    height: 100px;
}

.smoke {
    color: #404344;
}

.ice {
    h1 {
        text-align: center;
    }
}

.title {
    text-align: center;
}

.titlecolor {
    font-size: 2rem;
    color: #80d0c7;
}

.name {
    text-align: center;
    margin: 2%;
}

.sub {
    text-align: center;
    margin: 2%;

    button {
        padding: 3%;
        border: 5px solid white;
        border-radius: 25px;
        font-size: 1.3rem;
        cursor: pointer;
        background: #80d0c7;
        color: white;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sele {
    display: flex;
    width: 25vw;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.cursor {
    cursor: pointer;
}

.getcolor {
    color: #80add0;
}

.left,
.right {}
