<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="stylesheets/eat.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Firebase -->
    <script src="https://gstatic.com/firebasejs/3.5.2/firebase.js"></script>
    <!-- VueFire -->
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
</head>

<body>
    <div id="ice">
        <h1>{{msg}}</h1>
      <div><span>{{alllist.name}}總共點惹{{alllist.lists}}</span></div>
      <div class="">
                            <span>5樣料$45 超過一樣+5塊</span>
      </div>
        <div class="content">
            <form class="left">
                <div>
                    <input type="text" v-model="alllist.name" placeholder="還不說你叫什麼名字">
                </div>
                <div class="grid">
                    <div class="sele">
                        <input id="湯圓" type="checkbox" value="湯圓" v-model="alllist.lists"><label for="湯圓"><img src="img/5.png" alt="">湯圓 </label>
                    </div>
                    <div class="sele">
                        <input id="紅豆" type="checkbox" value="紅豆" v-model="alllist.lists"><label for="紅豆"><img src="img/14.png" alt="">紅豆 </label>
                    </div>
                    <div class="sele">
                        <input id="大紅豆" type="checkbox" value="大紅豆" v-model="alllist.lists"><label for="大紅豆"><img src="img/13.png" alt="">大紅豆</label>
                    </div>
                    <div class="sele">
                        <input id="芋圓" type="checkbox" value="芋圓" v-model="alllist.lists"><label for="芋圓"><img src="img/3.png" alt="">芋圓</label>
                    </div>
                    <div class="sele">
                        <input id="芋頭" type="checkbox" value="芋頭" v-model="alllist.lists"><label for="芋頭"><img src="img/16.png" alt="">芋頭</label>
                    </div>
                    <div class="sele">
                        <input id="花生" type="checkbox" value="花生" v-model="alllist.lists"><label for="花生"><img src="img/15.png" alt="">花生</label>
                    </div>
                    <div class="sele">
                        <input id="綠豆" type="checkbox" value="綠豆" v-model="alllist.lists"><label for="綠豆"><img src="img/11.png" alt="">綠豆</label>
                    </div>
                    <div class="sele">
                        <input id="薏仁" type="checkbox" value="薏仁" v-model="alllist.lists"><label for="薏仁"><img src="img/8.png" alt="">薏仁</label>
                    </div>
                    <div class="sele">
                        <input id="珍珠" type="checkbox" value="珍珠" v-model="alllist.lists"><label for="珍珠"><img src="img/10.png" alt="">珍珠</label>
                    </div>
                    <div class="sele">
                        <input id="小粉圓" type="checkbox" value="小粉圓" v-model="alllist.lists"><label for="小粉圓"><img src="img/9.png" alt="">小粉圓</label>
                    </div>
                    <div class="sele">
                        <input id="粉角" type="checkbox" value="粉角" v-model="alllist.lists"><label for="粉角"><img src="img/7.png" alt="">粉角</label>
                    </div>
                    <div class="sele">
                        <input id="仙草" type="checkbox" value="仙草" v-model="alllist.lists"><label for="仙草"><img src="img/12.png" alt="">仙草</label>
                    </div>
                    <div class="sele">
                        <input id="愛玉" type="checkbox" value="愛玉" v-model="alllist.lists"><label for="愛玉"><img src="img/2.png" alt="">愛玉</label>
                    </div>
                    <div class="sele">
                        <input id="杏仁豆腐" type="checkbox" value="杏仁豆腐" v-model="alllist.lists"><label for="杏仁豆腐"><img src="img/4.png" alt="">杏仁豆腐</label>
                    </div>
                    <div class="sele">
                        <input id="蓮子" type="checkbox" value="蓮子" v-model="alllist.lists"><label for="蓮子"><img src="img/17.png" alt="">蓮子</label>
                    </div>
                    <div class="sele">
                        <input id="鳳梨" type="checkbox" value="鳳梨" v-model="alllist.lists"><label for="鳳梨"><img src="img/6.png" alt="">鳳梨</label>
                    </div>
                    <div class="sele">
                        <input id="麵茶" type="checkbox" value="麵茶" v-model="alllist.lists"><label for="麵茶"><img src="img/1.png" alt="">麵茶</label>
                    </div>
                </div>
                <input type="submit" value="偶好想ㄘ" @click.prevent="onSubmit">


            </form>
            <div class="right">
                <h1>快熱死的</h1>
                <div v-for="order in orders">
                    <h2>  {{order.name}} </h2>
                    <span>已點{{order.lists}} 總共{{order.cost}}元 快付錢不找零</span>
                    <button @click="removeUser(order)">我好後悔我好胖</button>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="index.js"></script>

</html>
